<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,700;0,800;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Online Shopping site in India:  Shop Online for Books</title>
</head>
<body>
    
<header>
    <!-- contact content -->
    <div class="header-content-top">
      <div class="content">
        <span><i class="fas fa-phone-square-alt"></i> (96)6769-4292</span>
        <span><i class="fas fa-envelope-square"></i>customer-care@gmail.com</span>
      </div>
    </div>
    <!-- / contact content -->
    <div class="header-container">
      <!-- logo -->
      <a href='/books'><strong class="logo">Pustaka</strong></a>
      <!-- open nav mobile -->
  
      <!--search -->
      <label class="open-search" for="open-search">
        <i class="fas fa-search"></i>
              <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
      <form action='/search' method='POST'>
        <div class="search">
          <button class="button-search"><i class="fas fa-search"></i></button>
          <input type="text" name='searchQuery' placeholder="What are you looking for?" class="input-search"/>
        </div>
      </form>
      </label>
      <!-- // search -->
      <nav class="nav-content">
        <!-- nav -->
        <ul class="nav-content-list">
          <li class="nav-content-item account-login">
            <label class="open-menu-login-account" for="open-menu-login-account">
  
              <input class="input-menu" id="open-menu-login-account" type="checkbox" name="menu" />
              
              
                <%if(user) { %>
                  <% if(user.isAdmin) { %>
                    <i class="fas fa-hammer"></i><span class="login-text">
                      Hello <%= user.name.split(' ')[0] %> <strong></strong>
                    </span> <span class="item-arrow"></span>
                      <ul class="login-list">
                        <li class="login-list-item"><a href="">My account</a></li>
                        <li class="login-list-item"><a href="/admin">Admin Panel</a></li>
                        <li class="login-list-item"><a href="/users/logout">Logout</a></li>
                        </label>
                      </ul>
                    
                  <% }else { %>
                    <i class="fas fa-user-circle"></i><span class="login-text">
                      Hello <%= user.name.split(' ')[0] %> <strong></strong>
                    </span> <span class="item-arrow"></span>
                      <ul class="login-list">
                        <li class="login-list-item"><a href="/books">Home</a></li>
                        <li class="login-list-item"><a href="/review/pending">Rate and Review</a></li>
                        <li class="login-list-item"><a href="/purchases">Past Orders</a></li>
                        <li class="login-list-item"><a href="/addresses">Addresses</a></li>
                        <li class="login-list-item"><a href="/users/logout">Logout</a></li>
                        </label>
                      </ul>
                  <%} %>
                <%}else {%>
                  <span class="login-text">
                  <a href='/users/login'>Hello, Sign in or</a><strong>Create Account</strong>
                  </span> <span class="item-arrow"></span>
                  </label>
                <%} %>
              
  
              <!-- submenu -->
              
          </li>
          <li class="nav-content-item"><a class='special-nav-item' href='/users/wishlist' class="nav-content-link" href=""><i class="fas fa-heart"></i>
            <% if(user){ %>
              <span class='cart-size-span'><%= user.wishList.length %></span>
            <%}%>
          </a></li>
          <li class="nav-content-item"><a class='special-nav-item' href='/users/cart' class="nav-content-link" href=""><i class="fas fa-shopping-cart"></i>
            <% if(user){ %>
              <span class='cart-size-span'><%= user.personalcart.reduce((acc, elem) => acc + Number(elem.quantity), 0) %></span>
            <%}%>
          </a></li>
          <!-- call to action -->
        </ul>
      </nav>
    </div>
    <!-- nav navigation commerce -->
    <div class="nav-container">
      <nav class="all-category-nav">
        <label class="open-menu-all" for="open-menu-all">
          <input class="input-menu-all" id="open-menu-all" type="checkbox" name="menu-open" />
          <span class="all-navigator"><i class="fas fa-bars"></i> <span>All category</span> <i class="fas fa-angle-down"></i>
            <i class="fas fa-angle-up"></i>
          </span>
  
          <ul class="all-category-list">
            <% catForHeader.forEach(singCategory =>{ %>
            <li class="all-category-list-item"><a href="#" class="all-category-list-link"><%=singCategory.categoryName %><i class="fas fa-angle-right"></i></a>
              <div class="category-second-list">
                <ul class="category-second-list-ul">
                  <% singCategory.books.forEach(singCatBook =>{ %>
                  <li class="category-second-item" data-image='<%=singCatBook.thumbnailURL%>'><a href="/books/<%= singCatBook.slug %>"><%= singCatBook.title %></a></li>
                  <% }) %>
                </ul>
                <div class="img-product-menu"><img class='img-product-img-sub' src="https://i.ibb.co/Vvndkmy/banner.jpg"></div>	
              </div>
            </li>
            <%})%>
          </ul>
        </label>
  
      </nav>
      <nav class="featured-category">
        <ul class="nav-row">
          <li class="nav-row-list"><a href="/category/literature-and-fiction" class="nav-row-list-link">Literature & Fiction</a></li>
          <li class="nav-row-list"><a href="/category/self-help" class="nav-row-list-link">Self-Help</a></li>
          <li class="nav-row-list"><a href="/category/business-and-economics" class="nav-row-list-link">Business & Economics</a></li>
          <li class="nav-row-list"><a href="/category/romance" class="nav-row-list-link">Romance</a></li>
          <li class="nav-row-list"><a href="/category/crime-thriller-and-mystery" class="nav-row-list-link">Crime, Thriller & Mystery</a></li>
          <li class="nav-row-list"><a href="/category/indian-writing" class="nav-row-list-link">Indian Writing</a></li>
        </ul>
      </nav>
    </div>
    <script>
      var allAnchor = document.querySelectorAll('.featured-category a');
      var str = window.location.href;
      var arrAnchor = Array.from(allAnchor);
      arrAnchor.forEach(elem =>{
        if(str.endsWith(elem.href)){
          elem.style.backgroundColor = '#90D2C3';
          elem.style.color= '#fff';
        }
      });
      var imgDecElem = document.querySelector('.img-product-img-sub');
      document.addEventListener('mouseover', showBookImage);
      function showBookImage(event){
        let elem = event.target.closest('.category-second-item');
        // let dom= event.target;
        // console.log(elem);
        
        if(!elem)
          return;
        if(!elem.dataset.image)
          return;
        // if(!elem.classList.contains('category-second-item'))
        //   return;
        // console.log(elem);
        // console.log(elem.dataset.image);
        imgDecElem.setAttribute('src',elem.dataset.image);// = elem.dataset.image;
        // console.log(imgDecElem.src);
      }
      //img-product-menu
      //category-second-item

      //<div class="img-product-menu"><img src="https://i.ibb.co/Vvndkmy/banner.jpg"></div>	
    </script>
  </header>
  
    
