<%- include('partials/header') -%>
  <div class='review-container'>
    <a class='underline' href='/review/pending'>Reviews Pending</a>
    <a href='/review/posted'>Reviews Posted</a>
      <div class='review-main-grid'>
        <div class='review-main-grid-single-elem'>
          <div class='review-single-img-div'>
            <img class='.review-single-img' src='<%=book.thumbnailURL %>'>
          </div>
          <div class='review-single-desc-div'>
            
            <form method='POST' action='/review/<%=book.slug%>'>
              <p>Review for <%=book.title%> By <%=book.author%></p>
              <textarea name='content' rows='5' cols='50'></textarea>
              <input type='submit'>
            </form>
          </div>
        </div>
      </div>
</div>
</body>
</html>