<%- include('partials/header') -%>
  <div class='review-container'>
    <a class='underline' href='/review/pending'>Reviews Pending</a>
    <a href='/review/posted'>Reviews Posted</a>
      <div class='review-main-grid'>
        <div class='review-main-grid-single-elem'>
          <div class='review-single-img-div'>
            <img class='.review-single-img' src='<%=book.thumbnailURL %>'>
          </div>
          <div class='review-single-desc-div'>
            
            <form method='POST' action='/review/<%=book.slug%>'>
              <p>Review for <%=book.title%> By <%=book.author%></p>
              <textarea name='content' rows='5' cols='50' required></textarea>
              <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" required/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div>
              <input type='submit'>
            </form>
          </div>
        </div>
      </div>
</div>
<%- include('partials/footer') -%>