<%- include('partials/header') -%>
<div class='address-container'>
    <h2>Your Addresses</h2>
    <div class='address-main-grid'>
        <a href='/addresses/add' class='address-main-grid-elem add-address-button'>
            <div>
                <div>
                    <div class='address-add-sign'>
                        <i class="fas fa-plus"></i>
                    </div>
                    <p>Add address</p>
                </div>
            </div>
        </a>
        
        <% addresses.forEach(address => { %> 
            <div class='address-main-grid-elem'>
                <div class='is-default-address'><p>Default</p></div>
                <div class='address-general-elem'>
                    <ul class='address-elem-grid'>
                        <li class='address-elem-name'>
                            <%=address.name %>
                        </li>
                        <li>
                            <%=address.street %>
                        </li>
                        <li>
                            <%=address.city %>
                        </li>
                        <li>
                            <%=address.zip %>
                        </li>
                        <li>
                            <%=address.state %>
                        </li>
                        <li>
                            <%=address.number %>
                        </li>
                        <li class='address-elem-special'>
                            <a>Make Default</a>
                            <a>Edit</a>
                            <a>Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <%})%>
        
    </div>
</div>  
<%- include('partials/footer') -%>