<%- include('partials/header') -%>
   
   <section class="admin-book-container">
    <h2 class='admin-book-header'>All Users</h2>
    <table role="table" class="table">
      <thead role="rowgroup">
        <tr role="row">
          <th role="columnheader">Name</th>
          <th role="columnheader">Email</th>
          <th role="columnheader">Block/Unblock</th>
          
        </tr>
      </thead>
      <tbody role="rowgroup">
        <% users.forEach(user => { %> 
            <tr role="row">
            <td role="cell" data-title="Title"><%=user.name %></td>
            <td role="cell" data-title="Author"><%=user.email %></td>
            <td role="cell" data-title="Delete">
                <%if(user.isBlocked) {%>
                <a class='flex-admin-basic ' href='/admin/unblock/<%=user.id %>'>
                    <i class="fas fa-user-plus"></i>
                </a>
            <% } else {%>
                <a class='flex-admin-basic' href='/admin/block/<%=user.id %>'>
                    <i class="fas fa-user-minus"></i>
                </a>
            <%}%>
                </td>
            </tr>
        <%})%>
      </tbody>
    </table>
  </section>
<%- include('partials/footer') -%>
