<%- include('partials/header') -%>

   <section class="admin-book-container">
    <div class='admin-header-container'>
      <a class='admin-header-anchor' href='/admin/book/add'>Add Book</a>
      <a class='admin-header-anchor' href='/admin/category/add'>Add Category</a>
      <a class='admin-header-anchor underline' href='/admin/book'>Manage Book</a>
      <a class='admin-header-anchor' href='/admin/user'>Manage User</a>
    </div>
    <div class="flashes">
      <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 2000); </script>
      <% if (alerts.error) { %>
          <% alerts.error.forEach(function(msg) { %>
            <div class="alert alert-error "><%= msg %></div>
          <% }); %>
        <% } %>
        <% if (alerts.success) { %>
          <% alerts.success.forEach(function(msg) { %>
            <div class="alert alert-success"><%= msg %></div>
          <% }); %>
        <% } %>
      
    </div>
    <h2 class='admin-book-header'>All Books</h2>
    <table role="table" class="table">
      <thead role="rowgroup">
        <tr role="row">
          <th role="columnheader">Title</th>
          <th role="columnheader">Author</th>
          <th role="columnheader">Price</th>
          <th role="columnheader">Quantity</th>
          <th role="columnheader">Edit</th>
          <th role="columnheader">Delete</th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <% books.forEach(book => { %> 
            <tr role="row">
            <td role="cell" data-title="Title"><%=book.title %></td>
            <td role="cell" data-title="Author"><%=book.author %></td>
            <td role="cell" data-title="Price"><%=book.price %></td>
            <td role="cell" data-title="Quantity"><%=book.quantity %></td>
            <td role="cell" data-title="Edit"><a class='flex-admin-basic' href='/admin/edit/<%=book.slug %>'><i class="far fa-edit"></i></a></td>
            <td role="cell" data-title="Delete"><a class='flex-admin-basic' href='/admin/delete/<%=book.slug %>'><i class="far fa-trash-alt"></i></a></td>
            </tr>
        <%})%>
      </tbody>
    </table>
  </section>
  
<%- include('partials/footer') -%>
