<%- include('partials/header') -%>
<div class='book-single-container'>
    <div class="flashes">
        <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 2000); </script>
        <% if (alerts.error) { %>
            <% alerts.error.forEach(function(msg) { %>
              <div class="alert alert-error "><%= msg %></div>
            <% }); %>
          <% } %>
          <% if (alerts.success) { %>
            <% alerts.success.forEach(function(msg) { %>
              <div class="alert alert-success"><%= msg %></div>
            <% }); %>
          <% } %>
        
      </div>
    <div class='book-single-grid'>
        <div class='book-single-img-div'>
            <img class='book-single-img' src='<%=book.thumbnailURL %>'>
        </div>
        <div class='book-single-desc-div'>
            <p class='books-book-name'><%= book.title %></p>
            <% if(book.isRated) { %>
                <span class="rate-grid">
                    <% for(var i = 0; i < Number(book.averageRating); i++) {%>
                        <i class="fas fa-star star-filled"></i>
                    <%} %>
                    <% for(var i = 0; i < 5-Number(book.averageRating); i++) {%>
                        <i class="fas fa-star star-unfilled"></i>
                    <%} %>
                    <a href='/books/<%=book.slug %>#Reviews'class='rategrid-count-num'><%= `${book.ratings.length} ${book.ratings.length>1?'Reviews': 'Review'}`%> </a>
                    </span>
                <%}%>
            <p class='books-book-author'>By <%=  book.author %></p>
            <p class='books-book-general'>Categories: 
            <% book.categories.forEach(category =>{ %>
                <span><%=category.categoryName%></span>
            <%}) %></p>
            
            <p class='books-book-general'>Publisher: <%= book.publisher %></p>
            <p class='books-book-general'>Description: <%= book.description%></p>
            <% if(book.isRated) {%>
                <h3 id='Reviews' class='single-book-review-header'>Reviews(<%= reviews.length %>) </h3>
                <div class='single-book-reviews-grid'>
                    <% reviews.forEach(review =>{%>
                        <div class='single-book-review-elem'>
                         <p class='review-book-self'>"<%= review.content %>"</p>
                         <p>By <%= review.buyer.name %></p>
                        </div>
                    <%}) %>
                </div>
            <% }%>
        </div>
        <div class='book-single-price-div'>
            <h4>
                <div class='book-price-div'>
                    <i class="fas fa-rupee-sign"></i>
                    <p class='books-book-price'><%= book.price %></p>
                </div>
            </h4>
            <div class='book-single-elem-misc'>
                <form class='add-to-cart' method="POST" action="/books/<%= book.slug %>/add">
                    <input type="number" placeholder="1" value="1" name="quantity">
                    <button type="submit"><i class="fas fa-cart-plus"></i></button>
                </form>
                <a class='books-main-gatipay-elem' href='/books/<%= book.slug %>/wish'>
                    <i class="fab fa-gratipay"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>
