<%- include('partials/header') -%>
<div class='books-container'>
    <div class="flashes">
        <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 2000); </script>

        <% if(locals.message){ %>
            <% console.log('Client: ', JSON.stringify(locals.message)) %>
             <% if(locals.message.Success) { %>
                <div class="alert alert-success" role="alert">
                    <%=message.Success[0]%>
                </div>
            <% } else {%>
                <div class="alert alert-error" role="alert">
                    <%=message.Error[0]%>
                </div>
      
            <% } %>
        <% } %>
    </div>
    <div class='books-main-grid'>
       
        <% books.forEach(book =>{ %>
            <div class='books-main-grid-elem'>
                <div class='books-main-grid-elem-div'>
                    <a class='books-main-grid-elem-img' href='/books/<%=book.slug%>'>
                        <img class='books-main-single-image' src='<%=book.thumbnailURL %>'>
                    </a> 
                </div>  
                <a  href='/books/<%=book.slug%>'><h1> 
                    <%= book.title %>
                </h1></a>

                <h2> 
                    <%= book.author %>
                </h2>
                <h5> 
                    <i class="fas fa-rupee-sign"></i>
                    <%= book.price %>
                </h5>
                <% if(book.isRated) { %>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" 
                    <% if(book.averateRating=== 5) { %>
                        checked
                    <%} else{ %>
                        disabled
                    <% } %>    
                    />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" 
                    <% if(book.averateRating=== 4) { %>
                        checked
                    <%} else{ %>
                        disabled
                    <% } %>    
                    />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" 
                    <% if(book.averateRating=== 3) { %>
                        checked
                    <%} else{ %>
                        disabled
                    <% } %>    
                    />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" 
                    <% if(book.averateRating=== 2) { %>
                        checked
                    <%} else{ %>
                        disabled
                    <% } %>    
                    />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" 
                    <% if(book.averateRating=== 1) { %>
                        checked
                    <%} else{ %>
                        disabled
                    <% } %>    
                    />
                    <label for="star1" title="text">1 star</label>
                </div>
                <%}%>
                <div class='books-main-elem-misc'>
                    <form class='add-to-cart' method="POST" action="/books/<%= book.slug %>/add">
                        <input type="number" placeholder="1" value="1" name="quantity">
                        <button type="submit"><i class="fas fa-cart-plus"></i></button>
                    </form>
                    <a class='books-main-gatipay-elem' href='/books/<%= book.slug %>/wish'>
                        <i class="fab fa-gratipay"></i>
                    </a>
                </div>
            </div>
        <%}); %>
    </div>
</div>
   <div>
       
   </div>
<%- include('partials/footer') -%>
