<%- include('partials/header') -%>
<div class='books-container'>
    <div class="flashes">
        <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 5000); </script>
        <% if (alerts.error) { %>
            <% alerts.error.forEach(function(msg) { %>
              <div class="alert alert-error "><%= msg %></div>
            <% }); %>
          <% } %>
          <% if (alerts.success) { %>
            <% alerts.success.forEach(function(msg) { %>
              <div class="alert alert-success"><%= msg %></div>
            <% }); %>
          <% } %>
        
    </div>
    
    <div class='books-main-grid'>
       
        <% books.forEach(book =>{ %>
            <div class='books-main-grid-elem'>
                <div class='books-main-grid-elem-div'>
                    <a class='books-main-grid-elem-img' href='/books/<%=book.slug%>'>
                        <img class='books-main-single-image' src='<%=book.thumbnailURL %>'>
                    </a> 
                </div>  

                <ul>
                    <li>
                        <a class='books-book-name' href='/books/<%=book.slug%>'><h2> 
                            <%= book.title %>
                        </h2></a>
                    </li>   
                    <li>
                        <h2 class='books-book-author'> 
                            <%= book.author %>
                        </h2>
                    </li>
                    <li> 
                        <div class='book-price-div'>
                            <i class="fas fa-rupee-sign"></i>
                            <p class='books-book-price'><%= book.price %></p>
                        </div>
                    </li>
                </ul>
                <% if(book.isRated) { %>
                <div class="rate-grid">
                    <% for(var i = 0; i < Number(book.averageRating); i++) {%>
                        <i class="fas fa-star star-filled"></i>
                    <%} %>
                    <% for(var i = 0; i < 5-Number(book.averageRating); i++) {%>
                        <i class="fas fa-star star-unfilled"></i>
                    <%} %>
                </div>
                <%}else{ %>
                    <div class="rate-grid">
                    </div>
                <%} %>
                <div class='books-main-elem-misc'>
                    <form class='add-to-cart' method="POST" action="/books/<%= book.slug %>/add">
                        <input type="number" placeholder="1" value="1" name="quantity">
                        <button type="submit"><i class="fas fa-cart-plus"></i></button>
                    </form>
                    <a class='books-main-gatipay-elem' href='/books/<%= book.slug %>/wish'>
                        <i class="fab fa-gratipay"></i>
                    </a>
                </div>
            </div>
        <%}); %>
    </div>
</div>
   <div>
       
   </div>
<%- include('partials/footer') -%>
