<%- include('partials/header') -%>
<% console.log(book.description) %>
<div class='book-single-container'>
    <div class='book-single-grid'>
        <div class='book-single-img-div'>
            <img class='book-single-img' src='<%=book.thumbnailURL %>'>
        </div>
        <div class='book-single-desc-div'>
            <p><%= book.title %></p>
            <% if(book.isRated) { %>
                <span class="rate-grid">
                    <% for(var i = 0; i < Number(book.averageRating); i++) {%>
                        <i class="fas fa-star star-filled"></i>
                    <%} %>
                    <% for(var i = 0; i < 5-Number(book.averageRating); i++) {%>
                        <i class="fas fa-star star-unfilled"></i>
                    <%} %>
                    </span>
                <%}%>
            <p>By <%=  book.author %></p>
            <p>Categories: </p>
            <% book.categories.forEach(category =>{ %>
                <span><%=category.categoryName%></span>
            <%}) %>
            
            <p>Publisher: <%= book.publisher %></p>
            <p><%= book.description%></p>
            <% if(book.isRated) {%>
                <h3>Reviews Posted: </h3>
                <div class='single-book-reviews-grid'>
                    <% reviews.forEach(review =>{%>
                        <div class='single-book-review-elem'>
                         <p><%= review.content %></p>
                         <p>By <%= review.buyer.name %></p>
                        </div>
                    <%}) %>
                </div>
            <% }%>
        </div>
        <div class='book-single-price-div'>
            <h4>
                <i class="fas fa-rupee-sign"></i>
                    <%= book.price %>
            </h4>
            <div class='book-single-elem-misc'>
                <form class='add-to-cart' method="POST" action="/books/<%= book.slug %>/add">
                    <input type="number" placeholder="1" value="1" name="quantity">
                    <button type="submit"><i class="fas fa-cart-plus"></i></button>
                </form>
                <a class='books-main-gatipay-elem' href='/books/<%= book.slug %>/wish'>
                    <i class="fab fa-gratipay"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>
