<%- include('partials/header') -%>
<div class='books-container'>
    <div class="flashes">
        <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 5000); </script>
        <% if (alerts.error) { %>
            <% alerts.error.forEach(function(msg) { %>
              <div class="alert alert-error "><%= msg %></div>
            <% }); %>
          <% } %>
          <% if (alerts.success) { %>
            <% alerts.success.forEach(function(msg) { %>
              <div class="alert alert-success"><%= msg %></div>
            <% }); %>
          <% } %>
        
    </div>
    <div class='books-top-custom-div'>
        <buttom class='switch-view-btn'> Switch</buttom>
    </div>
    <div class="s-result-info-bar">
        <p>Showing <%= books.length %> books.</p>
        <div>
            
        </div>
    </div>
    <div class='books-main-grid'>
        <% books.forEach(book =>{ %>
            <div class='books-main-grid-elem'>
                <div class='books-main-grid-elem-div'>
                    <a class='books-main-grid-elem-img' href='/books/<%=book.slug%>'>
                        <img class='books-main-single-image' src='<%=book.thumbnailURL %>'>
                    </a> 
                </div>  

                <ul>
                    <li>
                        <a class='books-book-name' href='/books/<%=book.slug%>'><h2> 
                            <%= book.title %>
                        </h2></a>
                    </li>   
                    <li>
                        <h2 class='books-book-author'> 
                            <%= book.author %>
                        </h2>
                    </li>
                    <li> 
                        <div class='book-price-div'>
                            <i class="fas fa-rupee-sign"></i>
                            <p class='books-book-price'><%= book.price %></p>
                        </div>
                    </li>
                    <li>
                        <% if(book.isRated) { %>
                            <div class="rate-grid">
                                <% for(var i = 0; i < Number(book.averageRating); i++) {%>
                                    <i class="fas fa-star star-filled"></i>
                                <%} %>
                                <% for(var i = 0; i < 5-Number(book.averageRating); i++) {%>
                                    <i class="fas fa-star star-unfilled"></i>
                                <%} %>
                                <a href='/books/<%=book.slug %>#Reviews'class='rategrid-count-num'>(<%=book.ratings.length%>)</a>
                            </div>
                            <%}else{ %>
                                <div class="rate-grid">
                                </div>
                        <%} %>
                    </li>
                </ul>
                
                <div class='books-main-elem-misc'>
                    <form class='add-to-cart' method="POST" action="/books/<%= book.slug %>/add">
                        <input type="number" placeholder="1" value="1" name="quantity">
                        <button type="submit"><i class="fas fa-cart-plus"></i></button>
                    </form>
                    <a class='books-main-gatipay-elem' href='/books/<%= book.slug %>/wish'>
                        <i class="fab fa-gratipay"></i>
                    </a>
                </div>
            </div>
        <%}); %>
    </div>
</div>
<script>
    var current = false;
    var btnElem = document.querySelector('.switch-view-btn');
    var mainGrid = document.querySelector('.books-main-grid');
    var allElemGrid = Array.from(document.querySelectorAll('.books-main-grid-elem'));
    var ulElems = Array.from(document.querySelectorAll('ul'));
    var cartElems = Array.from(document.querySelectorAll('.books-main-elem-misc'));
    btnElem.addEventListener('click', switchView);
    function switchView(event) {
        if(!current){
            mainGrid.style.gridTemplateColumns = '1fr';
            mainGrid.style.gridAutoRows= '360px';
            allElemGrid.forEach(elem =>{
                elem.style.display = 'grid';
                elem.style.gridTemplateColumns = '0.75fr 3fr 1fr';
            });
            ulElems.forEach(elem =>{
                elem.style.padding = '1.5rem 1rem';
            });
            cartElems.forEach(elem =>{
                elem.style.padding = "2.5rem 1rem"
            });
        }
        else {
            mainGrid.style.gridTemplateColumns = 'repeat(auto-fit, 240px)';
            mainGrid.style.gridAutoRows= '440px';
            allElemGrid.forEach(elem =>{
                elem.style.display = 'block';
            });
            ulElems.forEach(elem =>{
                elem.style.padding = '0rem';
            });
            cartElems.forEach(elem =>{
                elem.style.padding = "0rem";
            });
        }
        current = !current;
    }
    
</script>
<%- include('partials/footer') -%>
