<%- include('partials/header') -%>


<div class='address-container'>
    <h2 class='address-header'>Your Addresses</h2>
    <div class='address-main-grid'>
        <a href='/addresses/onthego' class='address-main-grid-elem add-address-button'>
            <div>
                <div>
                    <div class='address-add-sign'>
                        <i class="fas fa-plus"></i>
                    </div>
                    <p>Add address</p>
                </div>
            </div>
        </a>
    </div>
    <form action='/users/checkout' method='POST' onsubmit="checkout(event)">
        
        <div class='saved-address-grid'>
    <% addresses.forEach((address, index) => { %> 
        <label class='address-main-grid-elem'>
            <input type='radio' name='addressOption' value='<%=index %>' 
                <% if(user && user.hasDefaultAddress && user.defaultAddress == address.id){%> 
                    checked
                <%}%>
            required/>
            
            <div >
                <% if(user && user.hasDefaultAddress && user.defaultAddress == address.id){%> 
                <div class='is-default-address'><p>Default</p></div>
                <%}else{%>
                    <div class='not-default-address'></div>
                <%}%>
                <div class='address-general-elem'>
                    <ul class='address-elem-grid'>
                        <li class='address-elem-name'>
                            <%=address.name %>
                        </li>
                        <li>
                            <%=address.street %>
                        </li>
                        <li>
                            <%=address.city %>
                        </li>
                        <li>
                            <%=address.zip %>
                        </li>
                        <li>
                            <%=address.state %>
                        </li>
                        <li>
                            <%=address.number %>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </label>
        <%})%>
        </div>
        <input type="hidden" name="amount" value="<%= totalPrice%>" />
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_JE3MJ3VRzgt7cF" // Enter the Key ID generated from the Dashboard
            data-amount="<%= totalPrice*100%>" // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            data-currency="INR"
            data-buttontext="Pay with Razorpay"
            data-name="Pustaka"
            data-description="Test transaction"
            data-image="https://i.imgur.com/d0C2l5L.png"
            data-prefill.name="<%= user.name %>"
            data-prefill.email="<%= user.email %>"
            data-theme.color="#F37254"
        ></script>
        <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
    <script src="https://checkout.razorpay.com/v1/razorpay.js"></script>    
    <script>
        
        async function checkout(e){
            e.preventDefault();
            const form = new FormData(e.target);
            
            //Generates an order_id required to create razorpay pop up
            const id = await (await fetch('http://localhost:3000/order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ amount: form.get("amount") })
            })).text();


            const postPaymentProcess = (res) => {
                fetch('http://localhost:3000/users/checkout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        amount: form.get("amount"),
                        addrOption: form.get("addressOption"),
                        payment_id: res.razorpay_payment_id,
                        order_id: res.razorpay_order_id,
                        signature: res.razorpay_signature
                    })
                })
            };//Function for saving the data to database

            const options = {
                key: "rzp_test_JE3MJ3VRzgt7cF",
                amount: form.get("amount"),
                currency: "INR",
                name: "Pustaka",
                description: "Test Transaction",
                order_id: id,
                handler: postPaymentProcess // executed after successfull payment
            }

            //creates and triggers the popup
            const razor = new Razorpay(options);
            razor.open();

        }


    </script>
</div>  
<%- include('partials/footer') -%>