<%- include('partials/header') -%>
   <div>
        <p>Order Placed Successfully</p>
        <p>Order # <%= purchase.id %></p>

       <% loggedInUser.personalcart.forEach(elem =>{ %>
        
        <h1> 
            <%= elem.item.title %>
        </h1>
        <h2> 
            <%= elem.item.author %>
        </h2>
        <h3> 
            <%= elem.item.description %>
        </h3>
        <h4> 
            <%= elem.item.thumbnailURL %>
        </h4>
        <h5> 
            <%= elem.item.price %>
        </h5>
        <h5> 
            Ordered: <%= elem.quantity %>
        </h5>
        
       <%}); %>
       <p>Total Price: <%= purchase.totalPrice %></p>
       
   </div>
</body>
</html>
