<%- include('partials/header') -%>

   <div class='cart-container'>
       <% if(loggedInUser.personalcart.length) { %>
        <div class='cart-container-header-grid'>
            <div>
                <h2 class='cart-header'>Order Placed Successfully</h2>
                <p class='cart-header-sub'>Order # <%=purchase.id %></p>
            </div>
            <div class='address-small-checkout'>
                <p><%= address.name%></p>
                <br>
                <p><%= address.street%></p>
                <br>
                <p><%= address.city%></p>
                <br>
                <p><%= address.zip%></p>
                <br>
                <p><%= address.state%></p>
                <br>
                <p>Phone Number: <%= address.number%></p>
            </div>
        </div>
        <div class='cart-main-grid'>
            <% loggedInUser.personalcart.forEach(elem =>{ %>
                <div class='cart-main-grid-single-elem'>
                    <div class='cart-single-img-div'>
                        <img class='cart-single-img' src='<%=elem.item.thumbnailURL%>'>
                    </div>
                    <div class='cart-single-desc-div'>
                        <p class='books-book-name'> 
                            <%=elem.item.title %>
                        </p>
                        <p class='books-book-author'> 
                            <%=elem.item.author %>
                        </p>
                        <p class='books-book-quantity'> 
                            Qty: <%=elem.quantity %>
                        </p>
                        
                        
                    </div>
                    <div class='cart-single-price-div'>
                        <p>
                            <i class="fas fa-rupee-sign"></i>
                            <%= elem.quantity*elem.item.price %>
                        </p>
                    </div>
                </div>
            <%}); %>
        </div>
        <div class='cart-total-price-div'>
            <p>Total Price:  <i class="fas fa-rupee-sign"></i> <%= purchase.totalPrice %></p>
        </div>
        <%}%>
        <a class='cart-main-book-anchor' href='/books'>Shop More</a>

   </div>
  
<%- include('partials/footer') -%>

