<%- include('partials/header') -%>
    <div class='review-container'>
        <div class='review-header-container'>
        <a class='review-header-anchor underline' href='/review/pending'>Reviews Pending</a>
        <a class='review-header-anchor' href='/review/posted'>Reviews Posted</a>
        </div>
        <div class="flashes">
            <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 2000); </script>
            <% if (alerts.error) { %>
                <% alerts.error.forEach(function(msg) { %>
                <div class="alert alert-error "><%= msg %></div>
                <% }); %>
            <% } %>
            <% if (alerts.success) { %>
                <% alerts.success.forEach(function(msg) { %>
                <div class="alert alert-success"><%= msg %></div>
                <% }); %>
            <% } %>
        
        </div>
        <% if(arrBooks.length) { %>
            <div class='review-main-grid'>
                <% arrBooks.forEach(book =>{ %>
                    <div class='review-main-grid-single-elem'>
                        <div class='review-single-img-div'>
                            <img class='review-single-image' src='<%=book.thumbnailURL %>'>
                        </div>
                        <div class='review-single-desc-div'>
                            <p class='books-book-name'><%=book.title %></p> 
                            <p class='books-book-author'>By <%=book.author %> </p>
                            <a class='review-main-review-anchor' href='/review/<%=book.slug%>'>Review Book</a>
                        </div>
                    </div>
                <%}) %>
            </div>
        <% } else {%>
            <h2 class='nothing-to-show-header'>Nothing to show</h2>
        <% }%>
    </div>
    
<%- include('partials/footer') -%>
