<%- include('partials/header') -%>
   <div class='cart-container'>
    <div class="flashes">
        <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 2000); </script>

        <% if(locals.message){ %>
            <% console.log('Client: ', JSON.stringify(locals.message)) %>
             <% if(locals.message.Success) { %>
                <div class="alert alert-success" role="alert">
                    <%=message.Success[0]%>
                </div>
            <% } else {%>
                <div class="alert alert-error" role="alert">
                    <%=message.Error[0]%>
                </div>
      
            <% } %>
        <% } %>
    </div>
       <% if(loggedInUser.personalcart.length) {%>
        <h1>Shopping Cart</h1>
        <div class='cart-main-grid'>
            <% loggedInUser.personalcart.forEach(elem =>{ %>
                <div class='cart-main-grid-single-elem'>
                    <div class='cart-single-img-div'>
                        <img class='cart-single-img' src='<%= elem.item.thumbnailURL %>'>
                    </div>
                    <div class='cart-single-desc-div'>
                        <h1> 
                            <%= elem.item.title %>
                        </h1>
                        <h2> 
                            <%= elem.item.author %>
                        </h2>
                        <h5> 
                            Qty: <%= elem.quantity %>
                        </h5>
                        <div>
                            <a href='/books/<%= elem.item.slug %>/remove'>
                                Remove from cart  
                            </a>
                        </div>
                        
                    </div>
                    <div class='cart-single-price-div'>
                        <p>
                            <i class="fas fa-rupee-sign"></i>
                            <%= elem.quantity*elem.item.price %>
                        </p>
                    </div>
                </div>
            <%}); %>
        </div>
        <div class='cart-total-price-div'>
            <p>Total Price:  <i class="fas fa-rupee-sign"></i> <%= totalPrice %></p>
        </div>
        <% if(totalPrice > 0) {%> 
            <a href='/users/checkout'>Buy Now</a>
        <% } %>
        <%} else { %>
                <p>Cart is empty</p>
            <%} %>
        <a href='/books'>Shop More</a>

   </div>
<%- include('partials/footer') -%>
