<%- include('partials/header') -%>
   <div class='cart-container'>
    <div class="flashes">
        <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 4000); </script>
        <% if (alerts.error) { %>
            <% alerts.error.forEach(function(msg) { %>
              <div class="alert alert-error "><%= msg %></div>
            <% }); %>
          <% } %>
          <% if (alerts.success) { %>
            <% alerts.success.forEach(function(msg) { %>
              <div class="alert alert-success"><%= msg %></div>
            <% }); %>
          <% } %>
        
      </div>
       <% if(loggedInUser.personalcart.length) {%>
        <h2 class='cart-header'>Shopping Cart</h2>
        <div class='cart-main-grid'>
            <% loggedInUser.personalcart.forEach(elem =>{ %>
                <div class='cart-main-grid-single-elem'>
                    <a class='cart-single-img-div'  href='/books/<%=elem.item.slug%>'>
                        <% console.log(elem.item.title) %>
                        <div class='cart-single-img' style='background-image: url("<%= elem.item.thumbnailURL%>");'>
                        </div>
                    </a>
                    <div class='cart-single-desc-div'>
                        <p class='books-book-name'>
                            <%= elem.item.title %>
                        </p>
                        <p class='books-book-author'> 
                            <%= elem.item.author %>
                        </p>
                        <p class='books-book-quantity'> 
                            Qty: <%= elem.quantity %>
                        </p>
                        <div>
                            
                        </div>
                        
                    </div>
                    <div class='cart-single-price-div'>
                        <div class='book-price-div'>
                            <i class="fas fa-rupee-sign"></i>
                            <p class='books-book-price'><%= elem.quantity*elem.item.price %></p>
                        </div>
                        <a class='cart-main-book-anchor' href='/books/<%= elem.item.slug %>/remove'>
                            Remove from cart  
                        </a>
                    </div>
                </div>
            <%}); %>
                <div class='cart-main-grid-single-elem'>
                    <div class='cart-single-img-div'>
                        <% if(totalPrice > 0) {%> 
                            <a class='cart-main-book-anchor' href='/addresses/cartaddress'>Buy Now</a>
                        <% } %>
                        <%} else { %>
                                <p class='empty-cart-p'>Cart is empty</p>
                            <%} %>
                        <a class='cart-main-book-anchor' href='/books'>Shop More</a>
                    </div>
                    <div class='cart-single-desc-div'>
                        <p class='books-book-author'>Total Qty: <%= loggedInUser.personalcart.reduce((acc, elem) => acc + Number(elem.quantity), 0)%></p>
                    </div>
                    <div class='cart-single-price-div'>
                        <p class='books-book-author'>Total Price</p>
                        <div class='book-price-div'>
                            
                            <i class="fas fa-rupee-sign"></i>
                            <p class='books-book-price'><%= totalPrice %></p>
                        </div>

                    </div>
                </div>
        </div>
        
        

   </div>
<%- include('partials/footer') -%>
