<%- include('partials/header') -%>
   <div>
       <% loggedInUser.personalcart.forEach(elem =>{ %>
        
        <h1> 
            <%= elem.item.title %>
        </h1>
        <h2> 
            <%= elem.item.author %>
        </h2>
        <h3> 
            <%= elem.item.description %>
        </h3>
        <h4> 
            <%= elem.item.thumbnailURL %>
        </h4>
        <h5> 
            <%= elem.item.price %>
        </h5>
        <h5> 
            Ordered: <%= elem.quantity %>
        </h5>
        <a href='/books/<%= elem.item.slug %>/remove'>
          Remove from cart  
        </a>
       <%}); %>
       <p>Total Price: <%= totalPrice %></p>
       <% if(totalPrice > 0) {%> 
       <a href='/users/checkout'>Buy Now</a>
       <% } %>
       <a href='/books'>Shop More</a>
   </div>
</body>
</html>
