<%- include('partials/header') -%>
<div class='purchases-container'>
    <h2 class='purchases-header'>Your Purchases</h2>
    <div class='purchases-outer-grid'>
        <% purchases.forEach(purchase =>{ %>
            <div class='purchases-single-elem-supp'>
                <h2 class='purchase-single-header'>Order ID: <p><%=purchase.id %></p></h2>
                <span>Total Price: <i class="fas fa-rupee-sign"></i> <p><%=purchase.totalPrice %></p></span>
                <span>Order Date: <p><%=purchase.createdAt.toString().substr(4,11)%></p></span>
            </div>
            <div class='purchases-main-grid'>
                <% purchase.books.forEach(book =>{ %>
                    <div class='books-purchases-grid-elem'>
                        <div class='books-purchases-grid-elem-div'>
                            <a class='books-purchases-grid-elem-img' href='/books/<%=book.item.slug%>'>
                                <img class='books-purchases-single-image' src='<%=book.item.thumbnailURL %>'>
                            </a> 
                        </div>  
                        <a  class='books-book-name' href='/books/<%=book.item.slug%>'>
                            <%= book.item.title %>
                        </a>

                        <h2 class='books-book-author'> 
                            <%= book.item.author %>
                        </h2>
                        
                        <h2 class='books-book-qty'>
                            Qty: <%= book.quantity%>
                        </h2>
                        <% if(book.item.isRated) { %>
                        <div class="rate-grid">
                            <% for(var i = 0; i < Number(book.item.averageRating); i++) {%>
                                <i class="fas fa-star star-filled"></i>
                            <%} %>
                            <% for(var i = 0; i < 5-Number(book.item.averageRating); i++) {%>
                                <i class="fas fa-star star-unfilled"></i>
                            <%} %>
                        </div>
                        <%}%>
                        
                    </div>
                <%}); %>
            </div>
        <%})%>
    </div>
</div>
   <div>
       
   </div>
<%- include('partials/footer') -%>
