<%- include('partials/header') -%>
<div class='purchases-container'>
    <h2 class='purchases-header'>Your Purchases</h2>
    <div class='purchases-outer-grid'>
        <% purchases.forEach(purchase =>{ %>
            <h2>Order ID: <%=purchase.id %></h2>
            <span>Total Price: <i class="fas fa-rupee-sign"></i> <%=purchase.totalPrice %></span>
            <span>Order Date: <%=purchase.createdAt.toString().substr(4,11)%></span>
            <div class='purchases-main-grid'>
                <% purchase.books.forEach(book =>{ %>
                    <div class='books-purchases-grid-elem'>
                        <div class='books-purchases-grid-elem-div'>
                            <a class='books-purchases-grid-elem-img' href='/books/<%=book.item.slug%>'>
                                <img class='books-purchases-single-image' src='<%=book.item.thumbnailURL %>'>
                            </a> 
                        </div>  
                        <a  href='/books/<%=book.item.slug%>'><h1> 
                            <%= book.item.title %>
                        </h1></a>

                        <h2> 
                            <%= book.item.author %>
                        </h2>
                        
                        <h5>
                            Qty: <%= book.quantity%>
                        </h5>
                        <% if(book.item.isRated) { %>
                        <div class="rate-grid">
                            <% for(var i = 0; i < Number(book.item.averageRating); i++) {%>
                                <i class="fas fa-star star-filled"></i>
                            <%} %>
                            <% for(var i = 0; i < 5-Number(book.item.averageRating); i++) {%>
                                <i class="fas fa-star star-unfilled"></i>
                            <%} %>
                        </div>
                        <%}%>
                        
                    </div>
                <%}); %>
            </div>
        <%})%>
    </div>
</div>
   <div>
       
   </div>
<%- include('partials/footer') -%>
