<%- include('partials/header') -%>
<div class='books-container'>
    <div class="flashes">
        <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 2000); </script>

        <% if(locals.message){ %>
            <% console.log('Client: ', JSON.stringify(locals.message)) %>
             <% if(locals.message.Success) { %>
                <div class="alert alert-success" role="alert">
                    <%=message.Success[0]%>
                </div>
            <% } else {%>
                <div class="alert alert-error" role="alert">
                    <%=message.Error[0]%>
                </div>
      
            <% } %>
        <% } %>
    </div>
    <h2 class='search-res-header'>Search Results for <span><%= query %></span></h2>
    <div class='books-main-grid'>
       
        <% books.forEach(book =>{ %>
            <div class='books-main-grid-elem'>
                <div class='books-main-grid-elem-div'>
                    <a class='books-main-grid-elem-img' href='/books/<%=book.slug%>'>
                        <img class='books-main-single-image' src='<%=book.thumbnailURL %>'>
                    </a> 
                </div>  
                <a  href='/books/<%=book.slug%>'><h1> 
                    <%= book.title %>
                </h1></a>

                <h2> 
                    <%= book.author %>
                </h2>
                <h5> 
                    <i class="fas fa-rupee-sign"></i>
                    <%= book.price %>
                </h5>
                <% if(book.isRated) { %>
                <div class="rate-grid">
                    <% for(var i = 0; i < Number(book.averageRating); i++) {%>
                        <i class="fas fa-star star-filled"></i>
                    <%} %>
                    <% for(var i = 0; i < 5-Number(book.averageRating); i++) {%>
                        <i class="fas fa-star star-unfilled"></i>
                    <%} %>
                </div>
                <%}%>
                <div class='books-main-elem-misc'>
                    <form class='add-to-cart' method="POST" action="/books/<%= book.slug %>/add">
                        <input type="number" placeholder="1" value="1" name="quantity">
                        <button type="submit"><i class="fas fa-cart-plus"></i></button>
                    </form>
                    <a class='books-main-gatipay-elem' href='/books/<%= book.slug %>/wish'>
                        <i class="fab fa-gratipay"></i>
                    </a>
                </div>
            </div>
        <%}); %>
    </div>
</div>
   <div>
       
   </div>
<%- include('partials/footer') -%>
