<%- include('partials/header') -%>
   <div class='cart-container'>
       <% if(loggedInUser.wishList.length) {%>
        <h2 class='cart-header'>Wish List</h2>
        <div class='cart-main-grid'>
            <% loggedInUser.wishList.forEach(elem =>{ %>
                <div class='cart-main-grid-single-elem'>
                    <div class='cart-single-img-div'>
                        <img class='cart-single-img' src='<%= elem.thumbnailURL %>'>
                    </div>
                    <div class='cart-single-desc-div'>
                        <p class='books-book-name'>
                            <%= elem.title %>
                        </p>
                        <p class='books-book-author'>
                            <%= elem.author %>
                        </p>
                        
                        
                    </div>
                    <div class='cart-single-price-div'>
                        <div class='book-price-div'>
                            <i class="fas fa-rupee-sign"></i>
                            <p class='books-book-price'><%= elem.price %></p>
                        </div>
                        <a class='cart-main-book-anchor' href='/books/<%= elem.slug %>/discard'>
                            Discard
                        </a>
                    </div>
                </div>
            <%}); %>
        </div>
        
        <%} else { %>
                <p>Wish-List is empty</p>
            <%} %>
        <a class='cart-main-book-anchor' href='/books'>Browse Books</a>

   </div>
<%- include('partials/footer') -%>

